/** GLOBAL - BASE -----------------------------------------**/

* {
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    color: $textColor;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    font-weight: 400;
    color: $red;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}


a {
    color: $red;
}

a:active,
a:focus,
a:hover {
    color: $grey;
}



p
 {
    line-height: 1.5em;
}




/** TEXT COLORS **/

.textgreen {
    color: $green;
}

.textblue {
    color: $blue;
}