/** GLOBAL - FONTS -----------------------------------------**/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|roboto:200');

@font-face {
    font-family: "bree-serif";
    src: url("/css/fonts/BreeSerif-Regular.eot");
    src: url("/css/fonts/BreeSerif-Regular.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/BreeSerif-Regular.woff") format("woff"),
    url("/css/fonts/BreeSerif-Regular.ttf") format("truetype"),
    url("/css/font/BreeSerif-Regular.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;}

@font-face {
    font-family: "kcicons";
    src: url("/common/font/kcicons.eot");
    src: url("/common/font/kcicons.eot?#iefix") format("embedded-opentype"),
    url("/common/font/kcicons.woff") format("woff"),
    url("/common/font/kcicons.ttf") format("truetype"),
    url("/common/font/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal!important;
    font-style: normal;
}


$mainFont: 'Roboto Slab',
serif;
$smallFont: 'Roboto',
sans-serif;
$titleFont: 'Bree-serif',
serif;
$iconFont: 'kcicons';