/** GLOBAL - VARIABLES -----------------------------------------**/


/*** COLORS ***/

$red: #dc1141;// highlight text-2 en basiskleur 2

$greyLightest: #f8f9fb; //basiskleur 1

$white: #fff; //achtergrond website

$grey: #999999; // highlight text-1 


$black: #050002;

$blue: #079ebd; 

$yellow: #fde93c;

$blueGrey: #5c6d71;

$textColor: #999999;

$green:  #007b00;

$greyDarker: #333333;

$greyLight: #d3d3d3;
$greyLighter: #f0f3f2; 



$textColor: $greyDarker;


/*** FILTERS ***/


/*** TRANSITIONS ***/


/*** SIZES ***/


