<div class="footer-info">
    <div class="container">
        <div class="cols">
            <div class="md-5">
                <h5>Uitvaart24</h5>
                <div class="footer-info-text">Het overlijden van een dierbare is een emotioneel en moeilijk moment, waar niemand zich echt helemaal op kan voorbereiden. In korte tijd moet veel geregeld worden, waarbij het vaak lastig is het budget goed in de gaten te houden. Voor ons staat juist daarom transparantie hoog in het vaandel. Wij bieden niet alleen helderheid in wat we voor u kunnen doen, maar ook in de kosten daarvan. Vandaar onze uitvaartpakketten, met vaste prijzen. Heeft u bijzondere wensen? Uw budget is altijd onze maat.</div>
            </div>
            <div class="md-2">
                <h5>Overzicht</h5>
                <div>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md-2">
                <h5>Contact</h5>
                <ul>
                    <li>Portsmuiden 14</li>
                    <li>1046 AJ Amsterdam</li>
                    <li>085-016 00 70</li>
                    <li>info@uitvaart24.nl</li>
                </ul>
                <br>
                <br>
                <h5>Labels</h5>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
            </div>
            <div class="md-3">
                <h5>Ervaringen</h5>
                <address class="klantenvertellen-widget" itemscope="" itemtype="http://schema.org/localbusiness">
                    <div>
                        <span class="name" itemprop="name">Uitvaart24</span>
                        <div class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                        </div>
                    </div>
                    <div class="recommendation-container" itemscope="" itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="bestRating" content="10">
                        <meta itemprop="worstRating" content="0">
                        <meta itemprop="ratingCount" content="334">
                        <meta itemprop="ratingValue" content="9,2">
                        <iframe frameborder="0" allowtransparency="true" width="100" height="140" class="recommendation" src="https://klantenvertellen.nl/widget/dtg/uitvaart24/?&amp;version=v6"></iframe>
                    </div>
                </address>
            </div>
        </div>
    </div>
</div>
<script src="/common/components-js/vendor/cycle.js"></script>
<script src="/common/components-js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/common/components-js/vendor/caro.js"></script>
<script src="/common/components-js/navbar.js"></script>
<script src="/common/components-js/custom.js"></script>