<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <!--<button class="navbar-hamburger hamburger-border" type="button">-->
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/">
                <!--<img alt=" " class="logosmall" src="/img/logo.png" />-->Uitvaart24</a>
            <div class="topbar-menu-left">
                <a href="/bezorging" title="Voor 18:00 besteld = dezelfde dag verzonden">Voor 18:00 besteld = dezelfde dag verzonden</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li>
                        <a class="hphone" href="tel:0857430752" title="085-7430752">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span>085 - 743 07 52</span>
                        </a>
                    </li>
                    <li>
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-click account" href="javascript:void(0);" title="Info &amp; Prijzen">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/hoe-werkt-het">Hoe werkt het</a>
                            </li>
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/betalen">Betalen</a>
                            </li>
                            <li>
                                <a href="/bezorging">Bezorging</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/privacy">Privacy</a>
                            </li>
                            <li>
                                <a href="/FAQ">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Algemene voorwaarden</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-click account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/account_adresboek">Adresboek</a>
                            </li>
                            <li>
                                <a href="/account_adres_import">Adressen importeren</a>
                            </li>
                            <li style="border-top: 1px dashed #e0e0e0;">
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li id="navbar-login">
                        <a class="inloggen" href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li>
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket">0 items</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-basket-mob">
                <!--<div class="topbar-basket-mob topbar-basket-mob-bg">-->
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li>
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/home" title="Uitvaart24"><img alt="Uitvaart24" src="/media/logo.png" style="width: 230px;" /></a>
                <ul class="middlebar-menu-right">
                    <li>
                        <a href="/rouwkaarten">Rouwkaarten</a>
                    </li>
                    <li>
                        <a href="/rouwbrieven">Rouwbrieven</a>
                    </li>
                    <li>
                        <a href="/bidprentjes">Bidprentjes</a>
                    </li>
                    <li>
                        <a href="/bedankkaarten">Bedankkaarten</a>
                    </li>
                    <li>
                        <a href="/zelf-maken">Zelf maken</a>
                    </li>
                </ul>
            </div>
            <div class="open-navbar-search">
                <i class="icon icon-search">&nbsp;</i>
            </div>
            <div class="navbar-search-field">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop77.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field">
                        <i class="icon icon-search">&nbsp;</i>
                    </button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>