<div class="visual js-visual-fullwidth-ontop">
    <div class="container">
        <div class="cols visual-content">
            <div class="xs-hide xsm-hide sm-2 visual-content-left"><img class="img-responsive img-center visual-bottom" src="/media/modernerouwkaartrouwrandblauweluchtwolk.png" style="width: 200px; height: 154px;" /></div>
            <div class="sm-8 text-center">
                <h1>Uitvaart24 Rouwkaarten&nbsp;</h1>
                <p>Kies een ontwerp en maak de kaart eenvoudig zelf of overleg met onze klantenservice voor een persoonlijk ontwerp en bestel de 50 persoonlijke rouwkaarten.&nbsp;</p>
                <p>Wij verzenden de kaarten naar alle adressen die u ons doorgeeft of u ontvangt de rouwkaarten per pakket.</p>
                <a class="button button-xlg button-success" href="/rouwkaarten">Bekijk de rouwkaarten</a>
            </div>
            <div class="xs-hide xsm-hide sm-2 visual-content-right"><img class="img-responsive img-center visual-bottom" src="/media/stijlvollerouwkaartvrouwgrotewitterozeroosrouwrand.png" style="width: 200px; height: 154px;" /></div>
        </div>
    </div>
</div>
<div class="js-hide-leftbar">
    <div class="cols cols-multi">
        <div class="xs-12 xsm-6 sm-6 md-6 lg-6">
            <div class="thumbnail" onclick="location.href = '/rouwkaarten';"><img class="img-responsive img-center" src="/media/Snip2017072525.png" />
                <div class="thumbnail-footer text-center">
                    <h3>Rouwkaarten</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-6 md-6 lg-6">
            <div class="thumbnail" onclick="location.href = '/zelf-maken';"><img class="img-responsive img-center" src="/media/zelfhome.png" />
                <div class="thumbnail-footer text-center">
                    <h3>Zelf maken</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="cols cols-multi">
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwkaarten/rouwkaarten-kinderen';"><img class="img-responsive img-center" src="/media/kinderhome.png" />
                <div class="thumbnail-footer text-center">
                    <h3>Kinderen</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/bedankkaarten';"><img class="img-responsive img-center" src="/media/bedankhome.png" />
                <div class="thumbnail-footer text-center">
                    <h3>Bedankkaarten</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-4 md-4 lg-4">
            <div class="thumbnail thumbnail-fluid" onclick="location.href = '/rouwbrieven';"><img alt="Rouwbrieven" class="img-responsive img-center" src="/media/kinderhome.png" />
                <div class="thumbnail-footer text-center">
                    <h3>Rouwbrieven</h3>
                </div>
            </div>
        </div>
    </div>
</div>