/** PAGES - BASKET ----------------------------------------------- **/

#body_basket {
	#rebate_code_input {
		display: none;
	}
}

@media only screen and (min-width: 768px) {}


@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {}