/** PAGES - DESIGN ----------------------------------------------- **/

#body_edit {}

#body_keuze {
    img {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {
    #body_edit.ed #tag_dialog {
        max-height: 70vh !important;
    }
}


@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {}