/** BLOCK - BUTTON -----------------------------------------**/

.button {
    transition: color 0.3s, border-color 0.3s, background-color 0.1s;
    border-radius: 10px;
    font-weight: 300;
    font-family: $mainFont;
}

.button-100 {
    width: 100%;
}

.button-blue {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    &:hover {
        color: $blue;
        background-color: #fff;
    }
}

.button-white {
    color: $blueGrey;
    background-color: $white;
    border-color: $white;
    &:hover {
        border-color: $greyLight;
    }
}



@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}