/** BLOCK - BUTTON-BLOCK -----------------------------------------**/

.button-block {
    & > a {
        color: $white;
        &:hover {
            color: $grey;
        }
    }

}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}