/** BLOCK - FOOTER-INFO -----------------------------------------**/

.footer-info {
    background-color: #df2853;
    min-height: 315px;
    background-image: url(/media/beeldmerkfooter.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 70px 0;
    color: $white;
    font-family: $smallFont;
    font-size: 12px;
    line-height: 17px;

    h5 {
        font-size: 20px;
        color: $white;
        margin-bottom: 20px;
    }
    .footer-info-text {}
    a {
        color: $white;
        margin-bottom:  5px;
        display: inline-block;
    }
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}