/** BLOCK - NAVBAR -----------------------------------------**/

.widget_content .list-vertical >li>a {
    color: $red;
}

.list-vertical li a:active, .list-vertical li a:focus, .list-vertical li ul li a {
    color: $black;
}

.list-vertical li ul {
    margin: 0 0 0 0px;
    border-left: none;
    padding-left: 0px;
}
@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    .navbar .middlebar ul.middlebar-menu-right li a:hover {
        background-color: $red;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar {}
}