/** BLOCK - NAVBAR -----------------------------------------**/

.navbar {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    .navbar .middlebar ul.middlebar-menu-right li a:hover {
        background-color: $red;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar {}
}