/** BLOCK - BUTTON -----------------------------------------**/

.thumbnail {
    border-color: $greyLight;
    border-radius: 1px; 
    .thumbnail-footer {
        h3 {
            color: $red;
        }
    }
} 

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}