/** BLOCK - WIDGET-HTML -----------------------------------------**/

.html-widget {
	background-color: $greyLightest;
	padding: 20px;
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}